* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.calculatrice {
    background-color: orange;
    display: flex;
    flex-direction: column;
}

.ecran {
    width: 100%;
    height: 100px;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
}